body {
  width: 50%;
  margin: auto;
  font-family: sans-serif;
}

address li {
  list-style-type: none;
  line-height: 1.5;
}

address ul {
  padding: 0px;
}

section {
  margin-top: 10px;
  border-top: 1px;
  border-top: 1px solid lightgray;
}

header,
footer {
  padding: 10px;
  background-color: lightgray;
}

.avatar {
  width: 200px;
  height: 240px;
  border: solid 1px black;
}

main {
  padding: 10px;
}

footer li {
  list-style-type: none;
  line-height: 2.5;
}

.rssLogo {
  width: 70px;
}
